\documentclass[10pt,a4paper]{article}
\usepackage[margin=2.2cm]{geometry}
\usepackage{graphicx}
\usepackage{booktabs}
\usepackage{siunitx}
\usepackage{float}
\usepackage{xcolor}
\usepackage{iftex}
\ifxetex
  \usepackage{fontspec}
  \setmainfont{texgyreheros}[Extension=.otf, UprightFont=*-regular, BoldFont=*-bold, ItalicFont=*-italic, BoldItalicFont=*-bolditalic]
\else
  \usepackage[T1]{fontenc}
  \usepackage{tgheros}
  \renewcommand{\familydefault}{\sfdefault}
\fi
\usepackage[hidelinks]{hyperref}
\sisetup{mode=text, group-digits=integer, group-minimum-digits=5, table-format=3.4}
\definecolor{ink2}{HTML}{6B6A63}
\setlength{\parindent}{0pt}
\setlength{\parskip}{4pt}

\title{\VAR{title|tex}}
\author{\textcolor{ink2}{\small open-alliance-daq \VAR{version|tex}}}
\date{\VAR{generated|tex}}

\begin{document}
\maketitle

\BLOCK{for sec in sections}
\section{Run \texttt{\VAR{sec.name|tex}}}

\begin{tabular}{@{}ll@{}}
\toprule
started & \VAR{sec.meta.get('started','?')|tex} \\
label & \VAR{sec.meta.get('label','')|tex} \\
sample rate & \VAR{sec.meta.get('rate_hz','?')|tex} Hz \\
samples / duration & \VAR{sec.n_samples} / \VAR{'%.1f' % sec.duration_s} s \\
\bottomrule
\end{tabular}

\subsection*{Channels}
\begin{tabular}{@{}llllp{7cm}@{}}
\toprule
name & ADC pair & unit & V per unit & source \\
\midrule
\BLOCK{for ch in sec.channels}
\texttt{\VAR{ch.name|tex}} & \VAR{ch.get('adc','')|tex} & \VAR{ch.get('unit','')|tex} & \VAR{ch.get('volts_per_unit','')|tex} & {\small \VAR{ch.get('source','')|tex}} \\
\BLOCK{endfor}
\bottomrule
\end{tabular}

\begin{figure}[H]
\centering
\includegraphics[width=\linewidth]{\VAR{sec.trace_fig}}
\caption{All recorded channels for run \texttt{\VAR{sec.name|tex}}.}
\end{figure}

\BLOCK{for fit in sec.fits}
\subsection*{Peaks in \texttt{\VAR{fit.column|tex}}}
hplc-py skew-normal deconvolution, prominence \VAR{prominence}, SNIP baseline window \VAR{baseline_window_min} min.
\VAR{fit.n} peak\BLOCK{if fit.n != 1}s\BLOCK{endif} found.

\begin{figure}[H]
\centering
\includegraphics[width=\linewidth]{\VAR{fit.fig}}
\caption{Baseline-corrected \texttt{\VAR{fit.column|tex}} with the fitted mixture and its components; peaks numbered as in the table.}
\end{figure}

\BLOCK{if fit.n > 0}
\begin{table}[H]
\centering
\begin{tabular}{@{}r S[table-format=3.2] S[table-format=2.3] S[table-format=3.4] S[table-format=2.2] S[table-format=+1.3] S[table-format=4.4] S[table-format=3.1]@{}}
\toprule
{\#} & {RT (s)} & {RT (min)} & {amplitude} & {width (s)} & {skew} & {area (\VAR{fit.unit|tex}$\cdot$s)} & {area \%} \\
\midrule
\BLOCK{for p in fit.peaks}
\VAR{p.i} & \VAR{'%.2f' % p.rt_s} & \VAR{'%.3f' % p.rt_min} & \VAR{'%.4g' % p.amplitude} & \VAR{'%.2f' % p.width_s} & \VAR{'%+.3f' % p.skew} & \VAR{'%.4g' % p.area} & \VAR{'%.1f' % p.pct} \\
\BLOCK{endfor}
\bottomrule
\end{tabular}
\caption{Peak table for \texttt{\VAR{fit.column|tex}}. Area is the integrated skew-normal component in signal units $\times$ seconds.}
\end{table}
\BLOCK{endif}
\BLOCK{endfor}

\BLOCK{if not loop.last}\clearpage\BLOCK{endif}
\BLOCK{endfor}

\vfill
{\small\textcolor{ink2}{Generated by \texttt{alliance-daq report}. Source CSVs carry the acquisition metadata; figures are vector PDF next to this file.}}
\end{document}
